 {% extends 'base/baselogin.html' %} {% load static %} {% block title %}Restablecer contraseña{% endblock %} {% block contenido %}
<style>
    .errorlist {
        color: red;
    }
</style>
<!-- page content -->
<div class="row text-center ">
    <div class="page-title col-md-6 col-sm-12 col-xs-12">
        <div class="title_left">
            <h3>ECU 911 Loja | Hoja De Ruta</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <form action="" method="post">{% csrf_token %}
                                <div class="x_title">
                                    <div class="clearfix"></div>
                                    <h3 class="mb-4">Cambio de contraseña</h3>
                                </div>

                                <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
                                {{form.old_password.errors}}
                                <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password" class="form-control" placeholder="Contraseña antigua"></p>
                                {{form.new_password1.errors}}
                                <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva"></p>
                                {{form.new_password2.errors}}
                                <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)"></p>
                                <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock contenido %}