{% extends 'base/baselogin.html' %} {% load static %} {% block title %}Escriba la nueva contraseña{% endblock %} {% block contenido %}
<style>
    .errorlist {
        color: red;
    }
</style>
<!-- page content -->
<div class="row text-center ">
    <div class="page-title col-md-6 col-sm-12 col-xs-12">
        <div class="title_left">
            <h3>ECU 911 Loja | Hoja De Ruta</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            {% if validlink %}
                            <form action="" method="post">{% csrf_token %}
                                <div class="x_title">
                                    <h3 class="mb-4">Escriba su nueva contraseña</h3>
                                    <div class="clearfix"></div>
                                </div>
                                <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
                                {{form.new_password1.errors}}
                                <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
                                {{form.new_password2.errors}}
                                <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
                                <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
                            </form>
                            {% else %}
                            <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
                            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
                            {% endif %}
                            <div class="x_title">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock contenido %}