{% load static %}
<div class="row" ng-controller="formcontroller" ng-init="get_diagnostico()">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title ">

                <h1>Formulario Registro <small>Nueva hoja de ruta</small></h1>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="text-center">
                    <h2>MINISTERIO DE <strong>SALUD PÚBLICA</strong> <img src="{% static 'base/img/logo.png' %}" class="rounded float-right" alt="110" width="150"></h2>
                </div>
                <form ng-submit="crear_hojaruta()" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-9" for="first-name">Datos del paciente: <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Nombres Y Apellidos:</small>
                            <input type="text" ng-model="nombre" required="required" class="form-control col-md-7 col-xs-9" placeholder="Nombres y Apellidos">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Cédula:</small>
                            <input type="text" ng-model="cedula" required="required" class="form-control col-md-7 col-xs-9" placeholder="Cédula">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Diagnóstico Y CIE 10: <span class="required">*</span></label>
                        {% comment %} <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Ingrese Diagnóstico</small>
                            <input type="text" ng-model="DatNombre" ng-keyup="complete(DatNombre)" class="form-control" required="required" />
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="DatNombre in filterNombre" ng-click="fillTextbox(DatNombre)">//DatNombre.fields.nombre_padre//</li>
                            </ul>
                        </div> {% endcomment %}
                        <div class="col-md-3 col-sm-4 col-xs-9">
                            <small>Diagnóstico General:</small>
                            <select class="form-control" ng-model="DatCodigo" ng-options="hoja.fields.nombre_padre for hoja in diagnosticoList" ng-change="cambiar(DatCodigo)"required="required">
                                <option value="">Seleccione...</option>
                                <option value="">// hoja.nombre_padre //</option>
                              </select>
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-9">
                            <small>CIE 10:</small>
                            <select readonly class="form-control" ng-model="DatCodigo" ng-options="hoja.fields.codigo_padre for hoja in diagnosticoList" required="required">
                                <option value="">// hoja //</option>
                              </select>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-9">
                            <small>Diagnóstico Especifico:</small>
                            <select class="form-control" ng-model="Dat" ng-options="hoja.fields.nombre_hijo for hoja in diagnosticoList_detalle" required="required">
                                <option value="">// hoja.nombre_hijo //</option>
                              </select>
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-9">
                            <small>CIE 10:</small>
                            <select readonly class="form-control" ng-model="Dat" ng-options="hoja.fields.codigo_hijo for hoja in diagnosticoList_detalle" required="required">
                                <option value="">// hoja //</option>
                              </select>
                        </div>

                        {% comment %} <div class="col-md-1 col-sm-4 col-xs-9">
                            <small>CIE 10</small>
                            <input type="text" ng-model="DatCodigo"  class="form-control" required="required" readonly />
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="DatCodigo in filterCodigo" ng-click="fillTextbox(DatCodigo)">//DatCodigo.fields.codigo_hijo//</li>
                            </ul>
                        </div> {% endcomment %}

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha y Destino: <span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Seleccione Fecha</small>
                            <div class='input-group date'>
                                <input type="date" class="form-control col-md-7 col-xs-9" ng-model="fecha" />
                                <span class="input-group-addon ">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Destino: </small>
                            <input type="text" ng-model="destino" required="required" class="form-control col-md-7 col-xs-9" placeholder="Ingrese El Destino">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Horas: <span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Salida De Base:</small>
                            <div class='input-group date'>
                                <input type="time" class="form-control" ng-model="hsalidabase" required />
                                <span class="input-group-addon">
                               <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Hora De Atención:</small>
                            <div class='input-group date'>
                                <input type="time" class="form-control" ng-model="hatencion" required />
                                <span class="input-group-addon">
                               <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Hora En Casa De Salud:</small>
                            <div class='input-group date'>
                                <input type="time" class="form-control" ng-model="hcasasalud" required />
                                <span class="input-group-addon">
                               <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Hora De Llegada Base:</small>
                            <div class='input-group date'>
                                <input type="time" class="form-control" ng-model="hllegadabase" required />
                                <span class="input-group-addon">
                               <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-9" for="first-name">Registro Del Kilometraje: <span class="required">*</span>
                        </label>
                        <div class="col-md-2 col-sm-2 col-xs-9">
                            <small>Kilometraje Salida:</small>
                            <input type="text" required="required" class="form-control col-md-7 col-xs-9" ng-model="ksalida" placeholder="Kilometraje de salida">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-9">
                            <small>Kilometraje En Casa Salud:</small>
                            <input type="text" required="required" class="form-control col-md-7 col-xs-12" ng-model="kcsalud" placeholder="Kilometraje en casa de salud ">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-9">
                            <small>Kilometraje Retorno Base:</small>
                            <input type="text" required="required" class="form-control col-md-7 col-xs-12" ng-model="kbase" placeholder="Kilometraje en base">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Motivo De Traslado: <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-9">
                            <small>Motivo Traslado:</small>
                            <textarea class="form-control col-md-7 col-xs-12" required="required" rows="2" type="text" ng-model="motivo" placeholder="Ingresar motivo de traslado"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Observaciones: <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-9">
                            <small>Observaciones:</small>
                            <textarea class="form-control col-md-7 col-xs-12" required="required" type="text" ng-model="observaciones" rows="2" placeholder="Ingresar observaciones"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-9" for="first-name">Ciudad Y Recurso: <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Ciudad:</small>
                            <select class="form-control" ng-model="ciudad" ng-options="hoja.fields.nombre for hoja in ciudadList" required="required">
                                <option value="">Seleccione...</option>
                                <option value="">// hoja //</option>
                              </select>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-9">
                            <small>Recurso:</small>
                            <select class="form-control" ng-model="recurso" ng-options="hoja.fields.nombre for hoja in recursoList" required="required">
                                <option value="">Seleccione...</option>
                                <option value="">// hoja //</option>
                              </select>
                        </div>
                    </div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-5">
                            <a class="btn btn-danger col-md-4" href="#/">Cancelar</a>

                            <button type="submit" class="btn btn-success col-md-4" ng-click="">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->