<!-- page content -->
<div class="center_col " role="main" ng-controller="formcontroller4" ng-init="get_recurso()">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Listado <code>Alfas</code></h2>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" style="color: red" ng-model="q" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="table-responsive">
                            <table id="tableID" class="table jambo_table bulk_action table-bordered text-center">
                                <thead>
                                    <tr class="headings">

                                        <th>#</th>
                                        <th scope="row">Alfa:</th>
                                        <th scope="row">Estado:</th>

                                        <th class="column-title no-link last"><span class="nobr">Acción</span></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="even pointer text-center" ng-repeat='hoja in recursoList | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize'>

                                        <td>//$index+1//</td>
                                        <td scope="row">//hoja.fields.nombre//</td>
                                        <td scope="row">//hoja.fields.estado//</td>
                                        <td style="display:none;">//hoja.pk//</td>
                                        <td><a class="btn btn-warning" ng-click="viewRecurso(hoja)">Editar Estado</a><br/><br/></td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                            Anterior
                         </button>//currentPage + 1// / // numberOfPages() //
                        <button ng-disabled="currentPage >= recursoList.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                             Siguiente
                         </button>
                    </div>
                    <span>Total de registros: </span>
                    <span style="color: red">//recursoList.length//</span>
                </div>
            </div>
        </div>
    </div>
</div>